.footer {
  height: 2%;
  text-align: right;
  bottom: 0%;
  right: 0%;

  padding: 0.5em 0.5em;
  background-color: aquamarine;
  position: fixed;
  font-family: "Courier New", monospace;
  font-size: 1.1em;
  font-weight: bold;
}

.footer p {
  font-family: inherit;
  margin: 0;
  position: relative;
  text-align: right;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
