.list{
    margin:2em;
    padding:3%;
    border: 1px solid blue;
    border-radius: 4px;
}

.list ul{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.list .coinId{
    background-color: aquamarine;
    color: black;
    font-size: 0.7em;
}

.list .coinSymbol{
    text-align: right;
}

.list .coinName{
    margin-bottom: 0.2em;
}

.coin{
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 4px;
    margin: 0.2em;
    max-width: 15em;
}